/annotations10_EmmanuelleLogette_2020-08-28_raw1_raw5_10EntityTypes.jsonl
/annotations11_CharlotteLorin_2020-08-28_raw1_10EntityTypes.jsonl
/annotations12_EmmanuelleLogette_2020-08-28_raw7_10EntityTypes.jsonl
/annotations13_CharlotteLorin_2020-09-02_raw7_10EntityTypes.jsonl
/annotations1_EmmanuelleLogette_2020-06-19_raw1_8FirstLabels.jsonl
/annotations2_CharlotteLorin_2020-06-19_8FirstLabels.jsonl
/annotations3_EmmanuelleLogette_2020-07-06_raw1_8FirstLabels.jsonl
/annotations4_CharlotteLorin_2020-07-02_raw1_8FirstLabels.jsonl
/annotations5_EmmanuelleLogette_2020-06-30_raw2_Disease.jsonl
/annotations6_EmmanuelleLogette_2020-07-07_raw4_TaxonChebi.jsonl
/annotations7_EmmanuelleLogette_2020-07-06_raw1_9EntityTypes.jsonl
/annotations8_EmmanuelleLogette_2020-07-08_raw5_9EntityTypes.jsonl
/annotations9_EmmanuelleLogette_2020-07-08_raw6_CelltypeProtein.jsonl
