# Blue Brain Search is a text mining toolbox focused on scientific use cases.
#
# Copyright (C) 2020  Blue Brain Project, EPFL.
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Lesser General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Lesser General Public License for more details.
#
# You should have received a copy of the GNU Lesser General Public License
# along with this program. If not, see <https://www.gnu.org/licenses/>.

/raw1_2020-06-10_cord19_TestSet.jsonl
/raw2_2020-06-29_cord19_Disease.jsonl
/raw3_2020-06-30_cord19_Disease.jsonl
/raw4_2020-07-02_cord19_ChemicalOrganism.jsonl
/raw5_2020-07-08_cord19_Drug_TestSet.jsonl
/raw6_2020-07-08_cord19_CelltypeProtein.jsonl
/raw7_2020-09-01_cord19v35_CellCompartment.jsonl
/raw8_2020-09-02_cord19v35_CellCompartmentDrugOrgan.jsonl
/raw9_2020-09-02_cord19v35_Pathway.jsonl
